#hero h1 {
    color: #fff;
    margin: 0 0 20px;
    font-size: 38px;
    line-height: 46px;
}
#services {
    background-color: #f5f5f5;
}

.sub-page #services {
    background-color: #fff;
}

#about {
    position: relative;
    background-color: #fff;
}

#about:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background: url(../img/slider/slider-2.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

#about .content {
    padding-right: 3rem;
}

.services .icon-box {
    background-color: #fff;
    padding: 0;
}

.services .icon-box figure {
    width: 100%;
    height: 250px;
    margin: 0;
}

.services .icon-box figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.icon-box-content {
    padding: 20px 20px 30px;
    text-align: left;
}

.sub-page .custom-img-carousel {
    height: 500px;
    padding: 0;
}
.sub-page .custom-img-carousel div {
    height: 100%;
}
.sub-page .custom-img-carousel .swiper-wrapper {
    height: 100%;
}
.sub-page .custom-img-carousel .portfolio-details-slider .swiper-pagination {
    height: auto;
    position: absolute;
    background-color: rgba(0,0,0,0.65);
    margin: 0;
    padding: 10px;
    bottom: 0;
}
.sub-page .portfolio-details .portfolio-details-slider img {
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.custom-list {
    list-style: none;
    padding-left: 0;
}
.custom-list li {
    margin-bottom: 10px;
}

#header .navbar a:hover, #header .navbar .active, #header .navbar .active:focus, #header .navbar li:hover>a {
    color: #fff;
}
.portfolio .portfolio-item .portfolio-info > a, .footer-newsletter {
    display: none;
}
.footer-links {
    margin-left: auto;
}

/*Sub Menu CSS*/
.navbar .sub-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 10;
}
.main-menu > li:hover > .sub-menu {
    display: block;
}
.sub-menu li a {
    background-color: #18319b;
    color: #fff;
    transition: all 0.3s ease-in-out;
}
.sub-menu li a:hover, .sub-menu li a.active {
    background-color: #fbd931;
    color: #18319b !important;
}
/*Sub Menu CSS*/

.tools .portfolio-info {
    display: none;
}

#hero {
    padding-bottom: 0;
}
#hero > .swiper {
    height: 100%;
}
#hero .swiper-pagination {
    opacity: 1;
    bottom: 50px;
}
#hero .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, #hero .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: rgba(251, 217, 49, 65%);
    margin: 0 5px;
    border-radius: 50%;
    cursor: pointer;
    opacity: 1;
}

#hero .swiper-pagination-bullet-active {
    width: 14px !important;
    height: 14px !important;
    background-color: #18319b !important;
}
#hero .swiper-slide {
    display: flex;
    align-items: center;
}
